<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../static/head %>

    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/assets/pages/css/portfolio.min.css" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->

    <link href="/assets/layouts/layout/css/themes/darkblue.min.css" rel="stylesheet" type="text/css"
          id="style_color"/>
    <link href="/assets/layouts/layout/css/custom.min.css" rel="stylesheet" type="text/css"/>

    <link href="/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
    <!-- END THEME LAYOUT STYLES -->

    <link href="/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />

    <link href="/css/plugins/croppie.css" rel="stylesheet" type="text/css"/>

    <link href="/css/lines.css" rel="stylesheet" type="text/css"/>

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">


<div class="page-wrapper">

    <header id="header" valign="botoom">
        <% include ../static/header %>
    </header>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="wrapper-title">
                <h1 class="page-title text-center"><%= line.line_name_eng %></h1>
                <h3 class="page-title text-center">in <%= line.country + '/' + line.city %></h3>
            </div>
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <div class="row">
                    <div class="col-md-3">
                        <div id="change-demo" class="col-md-12">
                            <a class="btn file-btn green">
                                <span>Upload</span>
                                <input type="file" id="upload-profile-pic" name="profile-image"
                                       value="Choose a file" accept="image/*" aria-invalid="false"
                                       aria-describedby="form-profile-pic-error">
                            </a>
                        </div>
                        <div class="wrapper-line border-line offset-top-2">
                            <p class="title-block">Map</p>
                            <div id="map" class="map"></div>
                        </div>
                        <div class="form-group form-md-line-input wrapper-line border-line offset-top-2">
                            <div class="col-md-6 ">
                                <i class="fa fa-pencil" aria-hidden="true"></i>  <a id="line_country" data-type="text" data-pk="1" class="editable editable-click"> <%= line.country %> </a>
                            </div>
                            <div class="col-md-6 ">
                                <a id="line_city" data-type="text" data-pk="1" class="editable editable-click"> <%= line.city %> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#general-container"
                                                      data-toggle="tab"
                                                      aria-expanded="true">General</a>
                                </li>
                                <li><a href="#parties-container"
                                       data-toggle="tab"
                                       aria-expanded="false">Parties</a>
                                </li>
                                <li><a href="#followers-container"
                                       data-toggle="tab"
                                       aria-expanded="false">Followers</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="general-container">
                                    <form enctype="multipart/form-data" method="post"
                                          id="form_change_line">
                                        <div class="col-md-7 form-group form-md-line-input">

                                            <div class="row">
                                                <label class="col-md-3 control-label">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>  Title
                                                </label>
                                                <div class="col-md-9 form-group">
                                                    <div class="col-md-6">
                                                        <a id="line_name_eng" data-type="text" data-pk="1" class="editable editable-click"> <%= line.line_name_eng %> </a>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <a id="line_name_ol" data-type="text" data-pk="1" class="editable editable-click"> <%= line.line_name_ol %> </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label class="col-md-3 control-label">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i> Facebook Page
                                                </label>
                                                <div class="col-md-9">
                                                    <div class="col-xs-12">   <a id="line_facebook_page" data-type="text" data-pk="1" class="editable editable-click"> <%= line.facebook_page %> </a></div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <label class="col-md-3 control-label">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>  Website
                                                </label>
                                                <div class="col-md-9">
                                                    <div class="col-xs-12">  <a href="<%= line.website %>" id="line_website" data-type="text" data-pk="1" class="editable editable-click"> <%= line.website %> </a></div>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <label class="col-md-3 control-label">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>  Description
                                                </label>
                                                <div class="col-md-9 description-general form-group">
                                                <pre id="description_eng" data-pk="1" data-type="wysihtml5"  data-original-title="Enter notes" class="editable editable-open" tabindex="-1">
                                                    <%= line.description_eng%>
                                                </pre>

                                            </div>


                                        </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <div class="block-music form-group form-md-line-input has-info wrapper-line border-line">
                                                <p class="title-block">Music</p>
                                                <div class="col-md-5" id="select_container">
                                                    <select name="genres" class="form-control">
                                                    </select>
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" id="add_genres_btn"
                                                            class="btn btn-circle btn-icon-only green">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                                    </div>
                                            </div>
                                            </div>
                                        </div>

                                        <div class="col-md-5 border-line block-manager">
                                        </div>
                                        <div class="col-xs-12 offset-top-2">
                                            <a class="btn red btn-outline btn-lg sbold" data-toggle="modal" href="#send_notification"> Send Notification </a>
                                            <div class="pull-right group-btn">
                                            <button type="submit" class="btn btn-lg red btn-outline pull-left">
                                                Delet line
                                            </button>
                                                <button type="submit" class="btn btn-lg green pull-right">
                                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane" id="parties-container">
                                    <div class="wrapper-line border-line">
                                        <div class="col-md-12">

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="followers-container">
                                    <div class="wrapper-line border-line">
                                        <div class="col-md-12">

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- END CONTAINER -->
</div>


<!-- responsive modal -->
<div id="send_notification" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Create Line</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- BEGIN FORM-->
                    <form id="notification_form" action="/notification/add" method="post">
                        <div class="col-xs-12 form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="form_control_1">Memo</label>
                            <div class="col-md-9">
                                <textarea id="notification_content"
                                          class="form-control"
                                          name="notification_content"
                                          rows="5" rows="3"></textarea>
                                <div class="form-control-focus"> </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group form-md-line-input">
                            <label class="col-md-3 control-label" for="notification_link">Link
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-9">
                                <input id="notification_link" type="text"
                                       class="form-control"
                                       placeholder="Enter link"
                                       name="notification_link" required>
                                <div class="form-control-focus"></div>
                                <span class="help-block">Link</span>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group form-md-line-input">
                            <label class="control-label col-md-3">Send Time</label>
                            <div class="col-md-9">
                                <div class="input-group date form_datetime bs-datetime" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p">
                                    <input name="notification_time" class="form-control" type="text" style="width: 100%">
                                    <span class="input-group-addon"><i class="fa fa-times"></i></span>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 form-group form-md-line-input">
                            <label class="control-label col-md-3">Audience<span class="required">*</span></label>
                            <div class="col-md-9">
                                <select id="form-line-city-select"
                                        class="bs-select form-control" data-live-search="true"
                                        data-size="8"
                                        name="notification_audience">
                                    <option>All</option>
                                    <option>Not All</option>
                                </select>
                            </div>
                        </div>

                    </form>
                    <!-- END FORM-->
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-outline dark">Cancel</button>
                <button data-dismiss="modal" id="button_send_notification" form="notification_form" type="button"
                        class="btn green">Send
                </button>
            </div>
        </div>
    </div>
</div>

<footer>
    <% include ../static/footer %>

    <script src="/assets/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
    <script src="/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>

    <script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
    <script src="/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>

    <script src="/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>

    <script src="/js/plugins/croppie.js" type="text/javascript"></script>

    <script src="../assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>

    <script src="/js/line.js" type="text/javascript"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd0ndp9LRz4gemHk611veMLaeoatrquGg&callback=initMap">
    </script>



    <script>
        function initMap() {
            var uluru = {lat: -25.363, lng: 131.044};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    </script>
</footer>

<% include ../static/menu %>

</body>
</html>